In [4]:
from pathlib import Path
import pandas as pd
csv_path = Path.cwd().parent / 'examples' / 'ex1.csv'
csv_path

WindowsPath('C:/Users/13621/Documents/GitHub/pydata-book/examples/ex1.csv')

In [12]:
df = pd.read_csv(csv_path) # Since this is comma-delimited, we can use read_csv to read it into a
# DataFrame
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
csv_path2 = Path.cwd().parent / 'examples' / 'ex2.csv'
pd.read_csv(csv_path2,header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
pd.read_csv(csv_path2,names = ['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Reading Text Files in Pieces

In [22]:
pd.options.display.max_rows = 10
csv_path6 = Path.cwd().parent / 'examples' / 'ex6.csv'
result = pd.read_csv(csv_path6)
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [23]:
pd.read_csv(csv_path6,nrows = 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [24]:
# To read a file in pieces, specify a chunksize as a number of rows
chunker = pd.read_csv(csv_path6,chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [25]:
# The TextFileReader object returned by read_csv allows you to
# iterate over the parts of the file according to the chunksize.
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending = False)

In [26]:
tot[:10]

key
E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
dtype: object

# Writing Data to Text Format

In [27]:
csv_path5 = Path.cwd().parent / 'examples' / 'ex5.csv'
data = pd.read_csv(csv_path5)
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [28]:
csv_out_path = Path.cwd().parent / 'examples' / 'out.csv'
data.to_csv(csv_out_path)

# Working with Delimited Formats

In [36]:
import csv
csv_path7 = Path.cwd().parent / 'examples' / 'ex7.csv'
with open(csv_path7) as f:
    lines = list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [37]:
header, values = lines[0], lines[1:]
values

[['1', '2', '3'], ['1', '2', '3']]

In [40]:
zip(*values)

In [34]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [35]:
zip?

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

# JSON (short for JavaScript Object Notation)